<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://wickle.dpdns.org/apps/twitter/v6.13.6/Twitter-v6.13.6.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.twitter.twitter</string>
                <key>bundle-version</key>
                <string>6.13.6</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Twitter v6.13.6 (iOS 6.0+)</string>
                <key>subtitle</key>
                <string>旧版 Twitter 应用</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
